.container_input {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.label_input {
  font-weight: 600;
  font-size: 14px;
}

.input {
  padding: 16px;
  border: var(--borderColor) solid 1px;
  border-radius: 8px;
}