.container{
  padding: 0px 320px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.content{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 1280px) {
  .container_login {
    padding: 0px 120px;
  }
}

@media only screen and (max-width: 768px) {
  .ilustration {
    display: none;
  }

  .logo {
    margin-left: 200px;
  }

  .container {
    padding: 0 16px;
    margin: 0 auto;
  }
}
