.button_primary,
.button_secondary {
  height: 40px;
  padding: 0 32px;
  background-color: transparent;
  border: 0;
  border-radius: 8px;
  width: 100%;
}

.button_primary {
  background-color: var(--accentColor);
  color: var(--whiteColor);
}

.button_secondary {
  background-color: transparent;
  color: var(--textColor);
  border: var(--borderColor) solid 1px;
}

@media only screen and (max-width: 768px) {

  .button_primary,
  .button_secondary {
    padding: 0 16px;
  }
}