.container_card {
  margin-left: auto;
  max-width: 100%;
  padding: 40px;
  box-shadow: var(--boxShadowColor);
}

.text_login,
.suggestion {
  text-align: center;
}

.text_login {
  font-size: 32px;
  font-weight: 600;
}

.suggestion {
  color: var(--greyColor);
  font-weight: 300;
  margin-top: 8px;
  margin-bottom: 16px;
}

.container_input {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.label_input {
  font-weight: 600;
  font-size: 14px;
}

.input {
  padding: 16px;
  border: var(--borderColor) solid 1px;
  border-radius: 8px;
}

.helper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
}

.container_checkbox {
  display: flex;
  align-items: center;
}

.label_checkbox {
  font-size: 14px;
  margin-left: 8px;
}

.orange_text {
  font-size: 14px;
  color: var(--orangeColor);
  font-weight: 400;
}

.sparator {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: var(--greyColor);
  margin: 32px 0;
}

.hl {
  width: 100%;
  height: 1px;
  background-color: var(--borderColor);
}

.third_party {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.register_link {
  font-size: 14px;
  text-align: center;
  margin: 16px 0;
}

@media only screen and (max-width: 768px) {
  .container_card {
    margin-left: 0px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0) 0px 4px 12px;
    padding: 0;
  }
}