.main {
  padding: 0px 320px;
  width: 100%;
  height: 100vh;
  margin-top: 80px;
}

@media only screen and (max-width: 1280px) {
  .main {
    padding: 0px 120px;
  }
}

@media only screen and (max-width: 768px) {

  .main {
    padding: 0 16px;
  }
}