@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --textColor: #2F3509;
  --borderColor: #dedede;
  --greyColor: #cccccc;
  --footerColor: #f5f5f5;
  --whiteColor: #ffffff;
  --accentColor: rgb(26, 115, 232);
  --boxShadowColor: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  --orangeColor: rgb(255, 138, 43);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}